{
  "arrowParens": "avoid",
  "useTabs": true,
  "tabWidth": 2,
  "printWidth": 80,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "semi": false,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "trailingComma": "none",
  "quoteProps": "as-needed",
  "proseWrap": "preserve"
}